/* stili generali */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 70%;
  margin: auto;
}


.margine-inferiore {
  margin-bottom: 30px;
}

.nero{
  border-radius: 10px;
  background-color: black;
}

/* stili sezione superiore */

.sezione-superiore {
  min-height: 80px;
  margin-top: 0px; 
}

/* logo  */

.logo{
  width: 160px;
  height: 60px;
  display: inline-block;
  background-image: url("../img/logo.png"); 
  background-size: 140px 60px;
  background-repeat: no-repeat;
  border-right: 1px solid black;
  margin-bottom: 40px;
  padding-right: 30px;
}

/* nav */


nav li{
 list-style: none;
 display: inline-block;
 margin-right: 10px;
}

nav li a, nav li a:visited{
 text-decoration: none;
 color: darkgray;
}

nav li a:hover, nav li a:active{
  color: indianred;
}

/* jumbotrone */

.jumbotron {
  min-height: 420px;
  margin: 20px auto;
  background-image: url("../img/banner.jpg"); 
  background-size: cover; 
  background-position: center; 
  border-radius: 10px; 
   opacity: 0.6;   
}

.jumbotron .testo-jumbo{
  width: 60%;
  margin: auto;
  margin-left: 30px;
  padding-top: 130px;
  color: white;
}


/* stili sezione centrale */

.main-middle {
  min-height: 50px;
  margin-bottom: 20px;
}

.main-middle .titolo {
  font-weight: bolder;
}

.main-middle .sottotitolo{
  font-size: 10px;
  color: darkgray;

}

/* float  */

.menu, .contenuto, .widget {
  float: left;
 }

 /* contenitore float  */

.main-bottom {
  min-height: 350px;
  margin-bottom: 10px;
}

/* footer  */

.footer-bot {
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 11px;
  padding-top: 20px;
}

/* stili specifici float  */

/* float sinistra */

.menu {
  width: 19%;
  margin: 1% auto;
  min-height: 350px;
}

.img1 {
  min-height: 150px;
  background-image: url(../img/img-1.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

/* float centrale  */

.contenuto {
  width: 60%;
  margin: 1%;
  min-height: 350px;
}

.img2{
  background-image: url(../img/banner-2.jpg);
  min-height: 150px;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

/* float destra */

.widget {
  width: 19%;
  margin: 1% auto;
  min-height: 350px;
}

.img3 {
  background-image: url(../img/img-3.jpg);
  min-height: 150px;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

/* testo float  */

.floath3{
  padding-top: 15px;
  margin-bottom: 10px;
  font-size: 11px;
}

.floatp{
  font-size: 11px;
  color: darkgray;
}


.cuore {
  font-size: 13px;
  color: red;
}