/* stili generali */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 70%;
  margin: auto;
}

.sezione-superiore {
  margin-top: 30px;
}

.margine-inferiore {
  margin-bottom: 30px;
}

/* stili sezione superiore */

.sezione-superiore {
  min-height: 80px;
  margin-top: 20px; 
}

/* logo  */

.logo{
  width: 210px;
  height: 80px;
  display: inline-block;
  background-image: url("../img/logo.png");
  background-size: 180px 80px;
  background-repeat: no-repeat;
  border-right: 1px solid black;
  margin-bottom: 40px;
  padding-right: 30px;
}

/* nav */


nav li{
 list-style: none;
 display: inline-block;
 margin-right: 10px;
}

nav li a, nav li a:visited{
 text-decoration: none;
 color: darkgray;
}

nav li a:hover, nav li a:active{
  color: indianred;
}

/* jumbotrone */

.jumbotron {
  min-height: 420px;
  margin: 20px auto;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron .testo-jumbo{
  width: 60%;
  margin: auto;
  margin-left: 30px;
  padding-top: 130px;
  vertical-align: middle;
  color: white;
}


/* stili sezione centrale */

.main-middle {
  min-height: 50px;
  margin-bottom: 20px;
}

.main-middle .titolo{
  fon
  font-weight: bolder;
}

.main-middle .sottotitolo{
  font-size: 10px;
  color: darkgray;

}

/* float  */

.menu, .contenuto, .widget {
  float: left;
 }

 /* contenitore float  */

.main-bottom {
  min-height: 350px;
  margin-bottom: 10px;
  background-color: blue;
}

/* footer  */

.footer-bot {
  height: 40px;
  margin-bottom: 20px;
  background-color: rebeccapurple;
}

/* stili specifici float  */

.menu {
  width: 19%;
  margin: 1% auto;
  min-height: 350px;
  background-color: lightblue;
}

.contenuto {
  width: 60%;
  margin: 1%;
  min-height: 350px;
  background-color: lightblue;
}

.widget {
  width: 19%;
  margin: 1% auto;
  min-height: 350px;
  background-color: lightblue;
}